extends layout

block content
  .row
    .col-md-4 
      h2.sub-header Estudiantes
    .col-md-6
      br
      form.form-inline(role="form" action="home" method="POST")
        .form-group
          label.space-label(for="curso") Curso:
          select.form-control(name="curso" id="curso")
            option Todos
            for curso in classes
              option(selected=(selected===curso.name ? "selected":undefined)) #{curso.name}  
        button.btn.btn-primary(type="submit") Va 
    .col-md-2
      br
      a(href="/add_student"): button.btn.btn-warning.pull-right Ingresa un Estudiante

  hr.bs-docs-separator
  .table-condensed
    table.table.table-hover#students 
      thead
        tr
          th Numero
          th Nombre
          th Curso
          th Enroll Date
          th
      tbody
        for student,i in students
          tr 
            td.clickable-row(href=("/view_student/" + student.id)) #{i+1}
            td.clickable-row(href=("/view_student/" + student.id)) #{student.name}
            td.clickable-row(href=("/view_student/" + student.id)) #{student.grade}
            td.clickable-row(href=("/view_student/" + student.id)) #{student.enroll_date}
            td: button.close.delete-s(type="button" id=student.id)
              span(aria-hidden="true") &times;
              span.sr-only Close
    
