extends layout

block content
  .row
    .col-md-9
      h2.sub-header Pagos 
    .col-md-3
      br
      a.btn.btn-warning.pull-right(href="/add_payment") Ingresa un Pago 
  br
  for payment in payments
    .well
      button.close.delete-p(type="button" id=payment.id)
        span(aria-hidden="true") &times;
        span.sr-only Close
      h3.clickable-row(href="/view_payment/"+payment.id) #{payment.name}
      p.secondary.text-muted.clickable-row(href="/view_payment/"+payment.id) #{payment.date}
      if payment.students.length > 0
        h4.text-success.clickable-row(href="/view_payment/"+payment.id) Valor: #{payment.amount} / Estudiante
      else
        h4.text-success.clickable-row(href="/view_payment/"+payment.id) Valor: #{payment.amount} 

      if payment.students.length > 0
        p.clickable-row(href="/view_payment/"+ payment.id) Estudiantes Pendientes de Pago:
        ul 
          -var count = 0;
          for student in payment.students
            if student.paid < payment.amount
              -count ++;
              li.text-danger.clickable-row(href="/view_payment/" + payment.id) #{student.name}
          if count === 0
            | Nadie!
