extends layout

block content
  .well
    h3 Estudiante
    form(role="form" action="/edit_student/" + student.id method="POST")
      .form-group
        label(for="s_name") Nombre
        input.form-control(type="text" id="s_name" name="s_name" value=student.name)
      .form-group
        label(for="s_date") Fecha de Matriculo
        input.form-control.datepicker(type="text" id="s_date" name="s_date" value=student.enroll_date)
      .form-group
        label(for="s_class") Curso
        select.form-control(id="s_class" name="s_class")
          for curso in classes
            option(selected=(student.grade===curso.name ? "selected" : undefined)) #{curso.name}
       button.btn.btn-success(href="/edit_student/" + student.id) Guardar

  .well
    h3 Pagos
    .table-condensed
      table.table.table-striped
        thead
          tr
            th Nombre 
            th Valor 
            th Pago
            th Estado
            th
        tbody
          for payment in student_payments
            tr
              td #{payment.name}
              td #{payment.amount}
              td #{payment.paid} 
              td
                if payment.paid === payment.amount
                  .text-success Pago!
                else
                  .text-danger Moroso 
                  a.btn.btn-success.pull-right(href="/pay/" + student.id + "/" + payment.id) Paga Ahora!
              td: button.close.delete-ps(type="button" id=payment.id href=student.id + "/delete_payment/" + payment.id)
                span(aria-hidden ="true") &times;
                span.sr-only Close 
    h4.text-success Pago total: #{paid}
    h4.text-danger Deuda total: #{debt}

